<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Django</title>
  </head>
  <body>
    <ul>
        <li>
            <a href="{% url 'app:aplicacao_list' %}">Listar aplicações</a>
        </li>
        <li>
            <a href="{% url 'app:aplicacao_create' %}">Criar nova aplicação</a>
        </li>
        <li>
            <a href="{% url 'app:vacina_list' %}">Listar vacinas</a>
        </li>
        <li>
            <a href="{% url 'app:vacina_create' %}">Criar nova vacina</a>
        </li>
        <li>
            <a href="{% url 'app:pessoa_list' %}">Listar pessoas</a>
        </li>
        <li>
            <a href="{% url 'app:pessoa_create' %}">Criar nova pessoa</a>
        </li>
    </ul>
  </body>
</html>